@media screen and (max-width: 480px) {
	
	.introduce {
	    max-width: 220px;
	}

	.container {
		width: 95%;
	}

	.wrapper, .footer {
		min-width: 95%;
	}

	.header {
	    margin-bottom: 5px;
	}

	.header-rightside {
	    width: 33%;
	}

	.header-leftside, .header-rightside {
	    width: auto;
	}

	.header-rightside:hover .my-contacts-list {
	    left: -175px;
	}

	.aside {
	    text-align: right;
	    max-width: 200px;
	    margin: 0 auto;
	}

	.avatar-text {
	    padding-left: 5px;
	    font-size: 16px;
	    max-width: 80px;
	}

	.my-contacts {
		font-size: 16px;
	}

	.block-year,
	.career-item:after,
	.career-item-block:after,
	.career-item-block:before {
	    display: none;
	}
	
	.main__career-right, .career-item-block {
	    width: 100%;
	    max-width: 330px;
	}

	.porfolio__item {
		display: block;
		margin: 0 auto 10px;
	}

	.wrapper:after {
	    height: 80px;
	}

	.footer {
	    height: 80px;
	    margin-top: -80px;
	}

	.copyright {
	    float: none;
	}

	.copyright-text {
	    padding-top: 0;
	    display: block;
	    text-align: center;
	}

	.social {
	    float: none;
	    padding-top: 0;
	    width: 111px;
	    margin: 0 auto;
	}
}